*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root{
  --font-montserrat: "Montserrat", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --logo-font: "Bowlby One", sans-serif;
  --color-1: #071A52;
  --color-2: #086972;
  --color-3: #17B978;
  --color-4: #A7FF83;
  --color-5: #a2e6fc;
  --color-6: #d0d0d08b;
  --color-7: #000e04;
  --color-8: #ffffff;
}

.main{
  padding: 1rem 1rem;
  min-height: 100vh;
  font-family: var(--font-nunito);
  background: var(--color-8);
  /* background: #2aa15b; */
  background: radial-gradient(circle, rgba(42, 161, 91, 0.84) 0%, rgba(87, 199, 133, 0.61) 50%, rgba(242, 255, 245, 1) 100%);
}

/* header styling starts here */
.header{
  position: sticky;
  top: 1rem;
  z-index: 7777;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1rem);
  padding: .6rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2.5rem;
  box-shadow:  8px 12px 46px 0px rgba(0, 0, 0, 0.2);
}

.logo-wrapper{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--logo-font);
  font-size: 2.7rem;
  color: var(--color-3);
}

.logo-icon-wrapper{
  width: 2.5rem;
  display: flex;
  align-items: center;
}

.logo-icon-wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navigation-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.navigation-list{
  display: flex;
  list-style-type: none;
  gap: 1.2rem;
  font-size: 1.7rem;
}

.nav-item-link{
  text-decoration: none;
  color: var(--color-7);
}

.cta-btn{
  padding: .8rem 2rem;
  border: 2px solid var(--color-4);
  border-radius: 1rem;
  background-color: var(--color-8);
  cursor: pointer;
}
/* header styling ends here */

/* Media Queries start here */
@media (max-width: 54.875em) {
  .navigation-bar {
    display: none;
  }
}
/* Media Queries end here */