* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --logo-font: "Bowlby One", sans-serif;
  --color-1-soft-mint: #d8f3dc;
  --color-2-soft-white: #f5f7fa;
  --color-3-vibrant-green: #38b000;
  --color-4-cool-gray: rgb(108, 117, 125);
  --color-5-charcoal: #212529;
  --color-6-light-sage: #95d5b2;
  --color-7-warm-coral: #e76f51;
  --color-8-soft-yellow: #ffd166;
  --color-9-muted-teal: #40916c;
}

::selection {
  background-color: var(--color-3-vibrant-green);
  color: var(--color-2-soft-white);
}

.main {
  padding: 1rem 1rem;
  min-height: 100vh;
  font-family: var(--font-nunito);
  background: var(--color-6-light-sage);
  background: linear-gradient(
    -1deg,
    rgb(192, 255, 193) 0%,
    rgb(227, 255, 226) 34%,
    rgba(239, 255, 235, 1) 100%
  );
}

/* header styling starts here */
.header {
  position: sticky;
  top: 1rem;
  z-index: 7777;
  background-color: rgba(108, 117, 125, 0.3);
  backdrop-filter: blur(1rem);
  padding: 0.6rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2.5rem;
  box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 0.2);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--logo-font);
  font-size: 2.3rem;
  color: var(--color-5-charcoal);
}

.logo-icon-wrapper {
  width: 2.5rem;
  display: flex;
  align-items: center;
}

.logo-icon-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  font-size: 1.7rem;
}

.nav-item-link {
  text-decoration: none;
  color: var(--color-5-charcoal);
  transition-duration: 0.4s;
}

.nav-item-link:hover {
  color: var(--color-8-soft-yellow);
}

.cta-btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.9rem;
  font-weight: 700;
  border-radius: 1rem;
  border: none;
  color: var(--color-2-soft-white);
  background-color: var(--color-3-vibrant-green);
  cursor: pointer;
  transition-duration: 0.4s;
}

.cta-btn:hover {
  background-color: var(--color-6-light-sage);
  outline: 1.5px solid var(--color-5-charcoal);
  color: var(--color-5-charcoal);
}
/* header styling ends here */

/* Media Queries start here */
@media (max-width: 54.875em) {
  .navigation-bar {
    display: none;
  }
}
/* Media Queries end here */
